{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_twig_image()
 *
 * @ingroup themeable
 */
#}
{% for image in data.images %}
    <picture {{ data.attributes }}>
        {% for source in image.sources %}
            <source srcset="{{ source.srcset }}" media="{{ source.media }}" type="{{ source.type }}" width="{{ source.width }}" height="{{ source.height }}" />
        {% endfor %}

        {% set imgAttributes = create_attribute({
            alt: image.alt ?? null
        }) %}

        {% if data.imgAttributes %}
            {% set imgAttributes = imgAttributes.merge(data.imgAttributes) %}
        {% endif %}

        <img src="{{ image.fallback }}" {{ imgAttributes }} />
    </picture>
{% endfor %}
